{% extends 'base.html.twig' %}

{% block title %}Calendrier{% endblock %}

{% block body %}
    <a href="{{ path('add_event') }}">Ajouter évènement</a>
    {% include 'calendar/calendar.html.twig' %}
{% endblock %}
