{% extends 'base.html.twig' %}

{% block title %}Réinitialiser le mot de passe{% endblock %}

{% block body %}
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <h1>Réinitialiser le mot de passe</h1>
    {{ form_row(requestForm.email, {
        label: 'e-mail :',
        'attr': {'class': 'form-control input-field'}
    }) }} <br>
        <div>
            <small class="chapos">
                Entrer votre adresse e-mail pour recevoir un lien pour réinitialiser votre mot de passe
            </small>
        </div>

        <button href="check-email" class="action-button">Envoyer</button>
    {{ form_end(requestForm) }}
{% endblock %}
